<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzhiyu.springai.mapper.ChatTypeMapper">
    <insert id="insert" parameterType="com.yanzhiyu.springai.entity.dto.ChatTypeDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_type(create_time, chat_type, chat_id)
        VALUES (#{createTime},
                #{chatType},
                #{chatId})
    </insert>

    <select id="getChatIds" resultType="com.yanzhiyu.springai.entity.dto.ChatTypeDTO">
        select * from chat_type where chat_type = #{type}
    </select>

</mapper>