<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzhiyu.springai.mapper.MsgMapper">
    <insert id="insert" parameterType="com.yanzhiyu.springai.entity.dto.MsgDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO messages(chat_id, create_time, message_type, text, metadata)
        VALUES(
            #{chatId},
            #{createTime},
            #{messageType},
            #{text},
            #{metadata}
        )
    </insert>
</mapper>